/build

/src/main/res/drawable-xxhdpi/content1001.png
/src/main/res/drawable-xxhdpi/content1002.png
/src/main/res/drawable-xxhdpi/content1003.png
/src/main/res/drawable-xxhdpi/content2001_1.png
/src/main/res/drawable-xxhdpi/content2001_2.png
/src/main/res/drawable-xxhdpi/content2001_3.png
/src/main/res/drawable-xxhdpi/content2001_4.png
/src/main/res/drawable-xxhdpi/content2002.png
/src/main/res/drawable-xxhdpi/content3001.png

/src/main/res/drawable-xxhdpi/content_image*.png

app-release.apk